@media (max-width:992px){
    .navbar{
        width:100%;
        max-width:920px;
        margin:0 auto; 
    }
    .image img{
        width: 350px;
       height: auto;
    }
    .hero-inner{
     width:100%;
     max-width:920px;
     margin:0 auto;  
    }
    .player-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);   
    }
    .highlight-image img{
        width:380px;
        height:auto;
    }
    .highlight{
        width:100%;
        max-width:920px;
        margin:0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:768px){
   
    .navbar{
        display: grid;
        grid-template-columns: 3fr 1fr;
        width:100%;
        max-width:700px;
        margin:0 auto; 
    }
    .btn{
        width:120px;
        height:auto;
    }
   .hero-inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width:100%;
        max-width:700px;
        margin:0 auto; 
    }
   .image img{
        width:250px;
        height:auto;
    }

    .player-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
}
    .highlight{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width:100%;
        max-width:700px;
        margin:0 auto; 
    
}
    
    .highlight-image img{
       width:200px;
       height:auto;
}
    h2{
        font-size: 30px;
    }
}
    @media (max-width:640px){
    .navbar{
        width:100%;
        max-width:580px;
        margin:0 auto; 
        }  
    .menu ul{
        visibility:hidden;

    }  
    .menu .icon {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
      }
      .btn{
        width:100px;
        height:40px;
        padding:2px;
      }
      .hero-inner{
        padding-top:100px;
        width:100%;
        max-width:580px;
        margin:0 auto; 
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;

      }
      .image img{
        width:300px;
        height:auto;
    }

    .player-container{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .highlight{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        width:100%;
        max-width:580px;
        margin:0 auto;
        padding-top:100px; 
}
    .highlight-image img{
        width:fit-content;
        height:auto;
}

    }
