*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:white;

}
header{
    
   margin:0 auto;

}

nav{
  
    position:fixed;
    top:0;
    width: 100%;
    background-color: #2D25A0;
    
   

}
.navbar{
    
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap:450;
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    padding: 1rem 0;

}
nav ul{
    list-style-type:none;
    
}
nav ul a{
    padding-right:1.5rem;
    color: white;
}

.menu ul {
    display:flex;
    align-items: center;
    
      
}
.menu ul li{
    padding-top: 10px;
    padding-bottom: 10px; 
}

.hero{
    background-color: #2D25A0;
    
    
    
}
.hero-inner{
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    min-height: 100vh;
    max-width:1000px;
    margin: 0 auto;
}

.text{
    height:fit-content;
    
}
.text-box{
    font-weight: 700;
    font-size:54px;
    color:white;
    

}
.btn{
    width:150px;
    height:auto;
    background-color: #E02C6D;
    padding:10px 24px;
    border: 2px solid transparent;
    color:white;

}
.image img{
    width: 556.01px;
    max-width: 30rem;
    height: auto;
}
.image{
    height: fit-content;

}
/*main starts*/
main{
    background-color: rgb(255, 254, 254);
}
.player-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2px;
    place-items: center;
    background-color: rgb(230, 225, 225);
    width: 100%;
    max-width:1000px;
    margin:0 auto;
   
    
}
.player{
    width:180px;
    padding: 15px;
    background-color: aliceblue;
    margin:1rem 0;
    
   
}
.player img{
    
    width:180px;
    max-width:20rem;
    height:auto;
}
h3{
    margin: 5px 0;
}
/*section starts*/
section{
    width:100%;
}
.highlight{
    width:100%;
    max-width:1000px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.highlight-image img{
     width:567px;
     max-width:30rem;
    height:auto;
}
.high-text-box{
    
    margin:auto 0;
}
.highlight-image{
    margin: 10rem 0;

}
h2{
    color:#0A0826;
    font-size: 40px;
    margin-bottom: 5px;
}
p{
    font-size:18px;
    color:rgb(151, 146, 146);
}

.high-text{
    height:fit-content;
    margin: 1rem 0;
}
.football{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.football img{
    width:300px;
    height:auto;
    margin-bottom:20px;
}
.social-media{
    margin-bottom:20px;
}
.copyright p{
    color:black;
}
.social-media i{
    background-color: rgb(212, 203, 203);
    border-radius: 50%;
    padding:8px;
}